@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.site-header{
    background-image: url("/Equipo.jpg");
    height: 15rem;
    min-height: 20rem;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.presentacion {
    background: #ccc;
    height: 200px;
    width: 560px;
    margin: 1rem auto;
    text-align: center;

}


h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
   font-size: 3rem;
   font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 1.5rem;
    opacity: 0.5;
}

h5 {
    font-size: 1.5rem;
    opacity: 0.5;
    padding-left: 1.3cm;
}

h6 {
    font-size: 1.5rem;
    opacity: 0.5;
    padding-left: 0.2cm;
}

li {
    font-size: 1.7rem;
    padding-top: 0.2cm;
}


a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #000000;
}

button {
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgb(2, 22, 27);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.contenedor {
    max-width: 200rem;
    width: 100%;
    margin: 0 auto 0 auto;
}

.contenedor h2 {
    color: #808080;
    font-weight: 800;   
    text-align: center; 
}

.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.persona {
    background-color: #f1f5eb;
    width: 46%;
    margin: 2rem;
    padding: 2rem;
    border: rgb(106, 182, 30) 1px solid;
}

.persona1 {
    background-color: #6d8846;
    width: 46%;
    margin: 2rem;
    padding: 2rem;
    border: rgb(255, 17, 0) 1px solid;
}

.persona1 p {
    text-align: justify;
}

.persona p {
    text-align: justify;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: auto;
    align-items: center;
}

.introduction {
    flex: 0.2;
}

.cover img {
    height: auto;
}